@model IEnumerable<Models.FactorItem>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong> Cluster Item List</strong>
    </div>
    <table class="table table-hover table-condensed">
        <tr>

             @*<th class="text-right col-md-1">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="text-right  col-md-1">
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th class="text-right  col-md-1">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>*@
            <th class=" col-md-1">
                @Html.DisplayNameFor(model => model.CriteriumItem.Name)
            </th>
            <th  class=" col-md-1">
                @*@Html.ActionLink("Create New", "Create", "FactorItem"
                    , new { factorId = ViewBag.FactorId }
                    , new { @class = "btn btn-primary", data_modal = "" })*@
                <a href="@Url.Action("Create", "FactorItem",
                        new { factorGroupId = ViewBag.FactorGroupId })" class="btn  btn-xs btn-primary" data-modal="factorItems">
                    <i class="fa fa-plus"></i> Add
                </a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td class="text-right col-md-1">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="text-right col-md-1">
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>
                <td class="text-right col-md-1">
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>*@
                <td class=" col-md-1">
                    @Html.DisplayFor(modelItem => item.CriteriumItem.Name)
                </td>
                <td  class=" col-md-1">
                    <a href="@Url.Action("Edit", "FactorItem",new  { id = item.Id, factorGroupId = ViewBag.FactorGroupId })" class="btn  btn-default btn-xs" data-modal="factorItems"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="@Url.Action("Delete", "FactorItem",new  { id = item.Id, factorGroupId = ViewBag.FactorGroupId })" class="btn btn-danger  btn-xs" data-modal="factorItems"><i class="fa fa-trash"></i> Delete</a>
                    @*@Html.ActionLink("Edit", "Edit", "FactorItem", new { id = item.Id ,factorId= ViewBag.FactorId}, new { @class = "btn btn-default", data_modal = "" }) |*@
                    @*@Html.ActionLink("Delete", "Delete", "FactorItem", new { id = item.Id, factorId = ViewBag.FactorId }, new { @class = "btn btn-danger", data_modal = "" })*@
                </td>
            </tr>
        } 

    </table>
</div>