@model IEnumerable<Models.FactorItem>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong> List of cluster items</strong>
    </div>
    <table class="table table-hover table-condensed">
        <tr>

            <th class=" col-md-1">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th class="text-right  col-md-1">
                    @Html.DisplayNameFor(model => model.Tax)
                </th>
                <th class="text-right  col-md-1">
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>*@
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class=" col-md-1">
                    @Html.DisplayFor(modelItem => item.CriteriumItem.Name)
                </td>
                @*<td class="text-right col-md-1">
                        @Html.DisplayFor(modelItem => item.Tax)
                    </td>
                    <td class="text-right col-md-1">
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>*@
            </tr>
        }

    </table>
</div>